[submodule "bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "bundle/vim-python-pep8-indent"]
	path = vim/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "bundle/ctrpl.vim"]
	path = vim/.vim/bundle/ctrpl.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-markdownfmt"]
	path = vim/.vim/bundle/vim-markdownfmt
	url = https://github.com/moorereason/vim-markdownfmt
[submodule "bundle/vim-multiple-cursors"]
	path = vim/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/bundle/vim-lsc"]
	path = vim/.vim/bundle/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "vim/.vim/bundle/vim-polyglot"]
	path = vim/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
